<div class="input">
    <label class="radioBtn">
      <input #modeVowels type="radio" name="mode" value="vowels"
        (click)="onModeSelect(modeVowels.value)" />
      Vowels
    </label>
    <label class="radioBtn">
      <input #modeConsonants type="radio" name="mode" value="consonants" (click)="onModeSelect(modeConsonants.value)" />
      Consonants
    </label>
    <h3 for="text">Text to analyze:</h3>
    <input class="inputText" #inputText type="text" (keyup.enter)="onSubmit(inputText.value)" />
    <button class="btn" (click)="onSubmit(inputText.value)">Analyze</button>
  </div>